services:
  - type: web
    name: bg-remover
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn api.index:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10
        